.home-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/public/images/background.jpg');
}

.home-header {
    height: 20vh;
    width: 100%;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    color: black;
    opacity: .8;
}

.tech-stack {
    height: 33%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.about-container {
    height: 33%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.projects-container {
    height: 33%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.nav-btn{
    width: 20%;
    height: 20%;
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    color: black;
    transition: all 0.5s;
    position: relative;
    cursor: pointer; 
}

.nav-btn span {
    z-index: 2; 
    display: block;
    position: absolute;
    width: 100%;
    height: 100%; 
}

.nav-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid black;
    background-color: rgba(255,255,255,0.1);
}
  
.nav-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid black;
    background-color: rgba(255,255,255,0.1);
}

.nav-btn:hover::before {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,0);
}
  
.nav-btn:hover::after {
    transform: rotate(45deg);
    background-color: rgba(255,255,255,0);
 }