.main-header {
    height: 20vh;
    width: 100%;
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    color: black;
    opacity: .8;
}
